@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/qwl5jug.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #191919;
  color: #D1F121;
}

.btn {
  @apply w-fit bg-green-fourth rounded-lg pragmatica-text px-2 py-4 text-primary text-lg hover:bg-primary hover:text-green-fourth border border-green-fourth;
}

.pragmatica-text {
  font-family: "pragmatica-extended", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
